.ball {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: rotate(45deg);
}

.ball:nth-child(1) {
  background-color: blue;
}

.ball:nth-child(2) {
  background-color: orange;
}

.ball:nth-child(3) {
  background-color: yellow;
}

.ball:nth-child(4) {
  background-color: purple;
}

.ball:nth-child(5) {
  background-color: red;
}

.ball:nth-child(6) {
  background-color: green;
}
.ball.moving {
  border: 1px dashed black;
  z-index: 999;
}

/* body {
    text-align: center;
}

.text {
    width: 490px;
    height: 340px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
} */
